@{
  Layout = "_Layout";
}

@model FavoriteRestaurant.Models.Cuisine
@using FavoriteRestaurant.Models

<h3>Cuisine Details</h3>
<hr />
<h3>Cuisine type: @Model.CuisineType</h3>

@if (@Model.Restaurants.Count == 0)
{
  <h4>You fool! No restaurants have been added for this cuisine yet.</h4>
}
else
{
  <ul>
    @foreach (Restaurant restaurant in Model.Restaurants)
    {
      <li>@Html.ActionLink($"{restaurant.RestaurantName}", "Details", "Restaurants", new { id = restaurant.RestaurantId })</li>
    }
  </ul>
}
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Edit Item", "Edit", new {id = Model.CuisineId})</p>
<p>@Html.ActionLink("Back to Cuisines List", "Index")</p>