@{
  Layout = "_Layout";
}

@model FavoriteRestaurant.Models.Restaurant

<h5>Add a new Restaurant</h5>



@using (Html.BeginForm())
{
  <p>@Html.LabelFor(model => model.RestaurantName): @Html.TextBoxFor(model => model.RestaurantName)</p>

  <p>@Html.LabelFor(model => model.RestaurantHealthCode): @Html.TextBoxFor(model => model.RestaurantHealthCode)</p>

  <p>@Html.LabelFor(model => model.RestaurantRating): @Html.TextBoxFor(model => model.RestaurantRating)</p>
  
  <p>@Html.LabelFor(model => model.Cuisine): @Html.DropDownList("CuisineId")</p>
  <br>

  <input type="submit" value="Add new Restaurant" class="btn btn-primary" />
}
<br>
<p>@Html.ActionLink("show all Restaraunts", "Index")</p>