@{
  Layout ="_Layout";
}

@model FavoriteRestaurant.Models.Restaurant

<h3>@Model.RestaurantName Details:</h3>
<hr />

<p>@Model.RestaurantName has a rating of @Model.RestaurantRating stars</p>

<p>@Model.RestaurantName has a(n) @Model.RestaurantHealthCode Health rating.</p>

<p>@Html.ActionLink("Back to Restaurants","Index")</p>
