@{
  Layout = "_Layout";
}

@model FavoriteRestaurant.Models.Restaurant

<h5>Edit Restaurant: @Model.RestaurantName</h5>



@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId)

  <p>@Html.LabelFor(model => model.RestaurantName): @Html.TextBoxFor(model => model.RestaurantName)</p>

  <p>@Html.LabelFor(model => model.RestaurantHealthCode): @Html.TextBoxFor(model => model.RestaurantHealthCode)</p>

  <p>@Html.LabelFor(model => model.RestaurantRating): @Html.TextBoxFor(model => model.RestaurantRating)</p>
  
  <p>@Html.LabelFor(model => model.Cuisine): @Html.DropDownList("CuisineId")</p>
  <br>

  <input type="submit" value="Save Edits" class="btn btn-primary" />
}
<br>
<p>@Html.ActionLink("show all Restaurants", "Index")</p>